* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    color: #ffffff;
  
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .Fall {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 60px ;

}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color:#403e3e;
    font-size: 30px;
    line-height:30px ;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position:absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width:130px ;
    height: 42px; 
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;
}
.hire-btn{
    border:2px solid #373636;
    color:#373636 ;
}
button:active{
    transform:scale(1.1);
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/web.back.jpeg);
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    width: 100px;
    height: 200x;
    float: right;
    position: relative;
    border-radius: 50%;
}

.float-right {

    float: right;
    margin-left: 25px;
    width: 50px;
    height: 300x;
    
   
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Contact {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}
.Contact-lead,
.code,
.simple {
    margin-bottom: 32px;
    color:#ffffff
}
.Contact-lead h3,
.code h3,
.simple h3 {
    margin-bottom: 10px;  
    text-align: center; 
}
.aboutme, .work{
    margin-bottom: 20px;
    font-size: 30px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    color: #ffffff;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .text-container {
    width: 100%;
  }
  
  .text-container{
    text-align: center;
  }

  }
  @media screen and (max-width: 768px) {

    .Contact, .code, .simple {
      padding: 30px 15px;
    }
  
    .Contact h3, .code h3, .simple h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .Contact p, .code p, .simple p  {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: 575px) {

    .header{
      width: 100%;
    }
  
    .text-container{
      width: 95%;
    
    }
  
    .Contact, .code, .simple {
      width: 100%;
    }
  
    .Contact, .code, .simple  {
      flex: 0 100%;
    }
  
    .Contact, .code, .simple  {
      text-align: center;
    }
  
    .Contact, .code, .simple > * {
      flex: 0 100%;
    }
  }
@media screen and (max-width:410px) {
    .text-container { 
    text-align: center;
    flex-shrink: unset;
    overflow: hidden;
    margin-top: 20px;

    }
  }