@charset "UTF-8";
/* CSS Document */
header{
    background-color: grey;
    padding: 30px 45px;

}
header h1 a {
   
        font-weight: bold;
        font-size: 36px;
        color:black;
        margin: 0;
        display: inline;      
}
nav ul li a{
    
    margin: 30px;
    font-family: myriad pro regular;
    font-size: 36px;
    font-weight: bolder;
    color: black;
    display: inline;

}
header nav ul li {
    display: inline;
  }
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

body{
    width:100%;
    height:95vh;
    background-image:url("../Porfolio/images/web.back.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}
header nav{
    float: right;
    margin: 7px o;
}
nav ul{
    display: flex;
}

.logo{
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}

.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 60px ;

}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color:#403e3e;
    font-size: 30px;
    line-height:30px ;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position:absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width:130px ;
    height: 42px; 
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;
}
.hire-btn{
    border:2px solid #373636;
    color:#373636 ;
}
button:active{
    transform:scale(1.1);
}
.model{
    width: 100px;
    height: 200x;
    float: right;
    position: relative;
    border-radius: 50%;
}


